Flask==0.10.1
Flask-SQLAlchemy==2.1
MySQL-python==1.2.5
SQLAlchemy==1.0.12
alembic==0.8.5
Jinja2==2.6
Werkzeug==0.8.3
wsgiref==0.1.2
slackclient==0.18.0
oauth2client==4.0.0
PyJWT==1.4.2
psycopg2==2.7.1
Flask-Mail==0.9.1
flask-admin==1.4.2
Flask-BasicAuth==0.2.0
Flask-Restful==0.3.5
contextlib2==0.5.4
raven==6.0.0
flask-cli==0.4.0
enum==0.4.6
google-api-python-client==1.6.2
requests==2.14.2